<h1>Enter your profile information</h1>
	<input placeholder="First Name" id="firstNameField">
	<input placeholder="Last Name" id="lastNameField">
	<input placeholder="Title" id="titleField">
	<input placeholder="Work Place" id='affiliationField'>
	<input placeholder="Image URL" id='imageField'>
<h2>Enter your interests</h2>
<div id='interestHolder'>
	<button id='addInterestField'>Add</button>
	<input placeholder='Put your interest here' class='interestField'>
</div>
<button id='submitEdit'>Submit</button>
