<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/users/" class="navbar-brand">Beast Coast</a>
		</div>
	{{#if session.loggedIn}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/{{session.sessionId}}">Your Profile</a></li>
        <li><a href="/users/edit/{{session.sessionId}}">Edit Profile</a></li>
        <li><a href="/users/logout">Logout</a></li>
    {{/if}}
    {{#unless session.loggedIn}}
   		<ul class="nav navbar-nav navbar-right">
   			<li><a href="/users/register">Register</a></li>
    	</ul>

    {{/unless}}
</nav>


	{{{ body }}}
<script src='/js/main.js'></script>
</body>
</html>

